$primary-color: rgb(224, 134, 81);

* {
  margin: 0;
  padding: 0;
}

.banner {
  background: url(images/banner.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  position: relative;
}
.banner .waves {
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
}

.navbar {
  display: grid;
  grid-template-columns: 20% 60% 20%;
}

.navbar .nav-start img {
  width: 30%;
  padding: 2vh 3vh;
}
.navbar .nav-middle {
  display: grid;
  grid-template-areas:
    "nav-middle-top"
    "nav-middle-bottom";
}
.navbar .nav-middle .nav-middle-top {
  display: flex;
  gap: 5vh;
  margin: 2vh auto;
}
.navbar .nav-middle .nav-middle-top p {
  color: white;
  font-size: 2vh;
}
.navbar .nav-middle .nav-middle-bottom {
  display: flex;
  width: 80%;
  padding-left: 15vh;
}
.navbar .nav-middle .nav-middle-bottom .custom-button {
  background-color: black;
  color: white;
  border: none;
  display: flex;
  align-items: center;
  gap: 1vh;
  height: 50%;
  padding: 20vh auto;
  padding-left: 1vh;
}
.icon {
  width: 10%;
  color: white;
}
.search-icon {
  color: white;
  width: 20%;
  border-radius: 50%;
  background-color: $primary-color;
  padding: 3.5vh;
}
.search-button {
  background-color: black;
  color: white;
  border: none;
  display: flex;
  align-items: center;
  gap: 1vh;
  height: 50%;
  padding: 20vh auto;
}

.navbar .nav-end {
  display: flex;
  padding-left: 20vh;
  gap: 3vh;
  align-items: center;
}
.icon2 {
  width: 20%;
  color: white;
}
.icon3 {
  width: 20%;
  color: rgb(55, 55, 216);
  background-color: rgb(121, 117, 117);
  padding: 1.5vh;
  border-radius: 25%;
}
