$primary-color: rgb(224, 134, 81);

* {
  margin: 0;
  padding: 0;
}

.banner {
  background: url(images/banner.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  position: relative;
}
.banner .waves {
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
}

.navbar {
  display: grid;
  grid-template-columns: 20% 60% 20%;
}
.navbar .nav-start img {
  width: 30%;
  padding: 2vh 3vh;
}

.navbar .nav-middle {
  display: grid;
  grid-template-areas:
    "nav-middle-top"
    "nav-middle-bottom";
}
.navbar .nav-middle .nav-middle-top {
  display: flex;
  gap: 5vh;
  margin: 2vh auto;
}
.navbar .nav-middle .nav-middle-top p {
  color: white;
  font-size: 2vh;
}
.navbar .nav-middle .nav-middle-bottom {
  display: flex;
  width: 80%;
  padding-left: 15vh;
}
.custom-button {
  background-color: black;
  color: white;
  border: none;
  display: flex;
  align-items: center;
  gap: 1vh;
  height: 50%;
  padding: 20vh auto;
  padding-left: 1vh;
}
.icon {
  width: 10%;
  color: white;
}
.search-icon {
  color: white;
  width: 20%;
  border-radius: 50%;
  background-color: $primary-color;
  padding: 3.5vh;
}
.search-button {
  background-color: black;
  color: white;
  border: none;
  display: flex;
  align-items: center;
  gap: 1vh;
  height: 50%;
  padding: 20vh auto;
}
.search-field {
  display: none;
}
.search-field.visible {
  border: 0;
  height: 6vh;
  width: 88vh;
  display: block;
  border-radius: 2%;
}
.search-button.hidden {
  display: none;
}
.custom-button.hidden {
  display: none;
}
.cross-button {
  display: none;
}
.cross-button.visible {
  background-color: black;
  width: 5%;
  border: none;
  display: flex;
  align-items: center;
  height: 50%;
  padding: 20vh auto;
  margin-top: 1.5vh;
}
.icon4 {
  width: 100%;
  color: white;
}

.navbar .nav-end {
  display: flex;
  padding-left: 20vh;
  gap: 3vh;
  align-items: center;
}
.icon2 {
  width: 20%;
  color: white;
}
.icon3 {
  width: 20%;
  color: rgb(55, 55, 216);
  background-color: rgb(121, 117, 117);
  padding: 1.5vh;
  border-radius: 25%;
}

@media screen and (min-width: 576px) and (max-width: 912px) {
  .navbar .nav-start img {
    width: 100%;
    padding: 2vh 2vh;
  }
  .navbar {
    display: grid;
    grid-template-columns: 10% 80% 10%;
  }
  .navbar .nav-middle .nav-middle-top {
    gap: 1vh;
  }
  .navbar .nav-middle .nav-middle-top p {
    font-size: 1.5vh;
  }
  .navbar .nav-middle .nav-middle-bottom {
    width: 80%;
    padding-left: 7vh;
  }
  .icon {
    width: 15%;
  }
  .search-icon {
    width: 2vh;
    padding: 2vh;
  }

  .search-field.visible {
    height: 3vh;
    width: 42vh;
  }
  .cross-button.visible {
    width: 8%;
    height: 50%;
    margin-top: 5px;
  }
  .icon4 {
    width: 100%;
  }

  .navbar .nav-end {
    padding-left: 1vh;
    gap: 1vh;
  }
  .icon3 {
    padding: 1vh;
  }
}

@media screen and (max-width: 576px) {
  .navbar .nav-start img {
    width: 100%;
    padding: 1vh 1vh;
  }
  .navbar {
    display: grid;
    grid-template-columns: 10% 80% 10%;
  }
  .navbar .nav-middle .nav-middle-top {
    gap: 1vh;
    margin: 1vh auto;
  }
  .navbar .nav-middle .nav-middle-top p {
    font-size: 1vh;
  }
  .navbar .nav-middle .nav-middle-bottom {
    padding-left: 2vh;
  }
  .custom-button {
    padding: 5vh auto;
    font-size: 7px;
  }
  .icon {
    width: 1vh;
  }
  .search-icon {
    width: 1vh;
    padding: 10px;
  }
  .search-field.visible {
    height: 2vh;
    width: 37vh;
    font-size: 8px;
  }
  .cross-button.visible {
    width: 3vh;
    height: 50%;
    margin-top: 3px;
  }

  .navbar .nav-end {
    padding-left: 2px;
    gap: 5px;
  }
  .icon2 {
    width: 45%;
  }
  .icon3 {
    width: 45%;
    padding: 2px;
    border-radius: 25%;
  }
}
