$primary-color: rgb(224, 134, 81);

* {
  margin: 0;
  padding: 0;
}

.banner {
  background: url(images/banner.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  position: relative;
}
.banner .waves {
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
}

.navbar {
  display: grid;
  grid-template-columns: 20% 60% 20%;
}
.navbar .nav-start img {
  width: 30%;
  padding: 2vh 3vh;
}

.navbar .nav-middle {
  display: grid;
  grid-template-areas:
    "nav-middle-top"
    "nav-middle-bottom";
}
.navbar .nav-middle .nav-middle-top {
  display: flex;
  gap: 5vh;
  margin: 2vh auto;
}
.navbar .nav-middle .nav-middle-top p {
  color: white;
  font-size: 2vh;
}
.navbar .nav-middle .nav-middle-bottom {
  background: linear-gradient(to top right, rgb(2, 2, 24), rgb(105, 105, 107));
  border-radius: 4vh;
  height: 7vh;
  width: 70vh;
  margin: auto;
  display: flex;
  gap: 1.5vh;
}
.custom-button {
  background: none;
  color: white;
  border: none;
  display: flex;
  align-items: center;
  margin: 1.5vh 1vh;
  gap: 1vh;
}
.icon {
  width: 2.5vh;
  color: white;
}
.search-icon {
  width: 2.5vh;
  color: white;
  border-radius: 50%;
  background-color: $primary-color;
  padding: 3.5vh;
}
.search-button {
  background: none;
  color: white;
  border: none;
  display: flex;
  align-items: center;
  margin: 1.5vh 1vh;
  gap: 1vh;
}

.custom-button.hidden {
  display: none;
}

.search-button.hidden {
  display: none;
}

.form {
  display: none;
}
.form.visible {
  display: block;
  position: relative;
}
.form input {
  background: linear-gradient(to top right, $primary-color, rgb(170, 67, 8));
  border-radius: 4vh;
  height: 7vh;
  width: 70vh;
  display: block;
  font-size: 15px;
  border: none;
}

.form input:focus {
  outline: none;
}
.form input::placeholder {
  color: rgb(212, 206, 206);
}

.form p {
  color: white;
  position: absolute;
  top: 0;
  right: 0;
  width: 15vh;
  cursor: pointer;
  margin: 2.5vh auto;
  font-size: 1.8vh;
}

.cross-button {
  display: none;
}
.cross-button.visible {
  background: none;
  color: white;
  border: none;
  display: flex;
  align-items: center;
  margin: 1.5vh 1vh;
  gap: 1vh;
  margin-left: -1vh;
}
.icon4 {
  width: 4vh;
  color: white;
}

.navbar .nav-end {
  display: flex;
  padding-left: 20vh;
  gap: 3vh;
  align-items: center;
}
.icon2 {
  width: 20%;
  color: white;
}
.icon3 {
  width: 20%;
  color: rgb(55, 55, 216);
  background-color: rgb(121, 117, 117);
  padding: 1.5vh;
  border-radius: 25%;
}

@media screen and (min-width: 576px) and (max-width: 912px) {
  .navbar .nav-start img {
    width: 100%;
    padding: 2vh 2vh;
  }
  .navbar {
    display: grid;
    grid-template-columns: 10% 80% 10%;
  }
  .navbar .nav-middle .nav-middle-top {
    gap: 1vh;
  }
  .navbar .nav-middle .nav-middle-top p {
    font-size: 1.5vh;
  }
  .navbar .nav-middle .nav-middle-bottom {
    height: 4vh;
    width: 50vh;
    gap: 1px;
  }
  .icon {
    width: 2vh;
  }
  .search-icon {
    width: 2vh;
    padding: 1.5vh;
    margin-left: -1vh;
  }
  .form input {
    height: 4vh;
    width: 50vh;
    font-size: 12px;
  }
  .form p {
    width: 10vh;
    margin: 1.2vh auto;
    font-size: 1.2vh;
  }
  .cross-button.visible {
    margin: 1.5vh 1vh;
    gap: 1vh;
    margin-left: -2px;
  }
  .icon4 {
    width: 3vh;
  }

  .navbar .nav-end {
    padding-left: 1vh;
    gap: 1vh;
  }
  .icon2 {
    width: 1.5vh;
  }
  .icon3 {
    width: 1.5vh;
    padding: 5px;
  }
}

@media screen and (max-width: 576px) {
  .navbar .nav-start img {
    width: 100%;
    padding: 1vh 1vh;
  }
  .navbar {
    display: grid;
    grid-template-columns: 10% 80% 10%;
  }
  .navbar .nav-middle .nav-middle-top {
    gap: 1vh;
    margin: 1vh auto;
  }
  .navbar .nav-middle .nav-middle-top p {
    font-size: 1vh;
  }
  .navbar .nav-middle .nav-middle-bottom {
    height: 3.2vh;
    width: 32vh;
    gap: 1px;
  }
  .custom-button {
    font-size: 7px;
    gap: 2px;
  }
  .icon {
    width: 1vh;
  }
  .search-icon {
    width: 1.5vh;
    padding: 1vh;
  }
  .form input {
    height: 3.2vh;
    width: 32vh;
    font-size: 7px;
  }

  .form p {
    width: 8vh;
    margin: 1vh auto;
    font-size: 1vh;
  }
  .cross-button.visible {
    margin-left: 1px;
  }
  .icon4 {
    width: 2vh;
    color: white;
  }

  .navbar .nav-end {
    padding-left: 1px;
    gap: 5px;
  }
  .icon2 {
    width: 45%;
  }
  .icon3 {
    width: 45%;
    padding: 2px;
    border-radius: 25%;
  }
}
